
.tarjeta{
    margin: 10px 0 10px 0;
    box-shadow:0 0 0;
    width: 100%;
    font-size: 1.1em;
    justify-content: center;
    border: solid 1px #888;
    &:hover{
        cursor: pointer;
    }
    &:active {
        transform: translateY(2px);
    }
    &:disabled{
        transform: translateY(0);
        color: grey;
        background-color: rgb(207, 207, 207);
        &:hover{
            cursor: default;
        }
    }
}
form{
    padding: 2% 0;
}

@media (min-width: 400px) {
    .containerModal {
        width: 400px;
    }
}

.containerModal{
    input{
        background-color: #fbfaf9;
    }
    label{
        font-size: 1.2em;
        margin-bottom: 0;
    }
}

.botonesExtras{
    display: flex;
    justify-content: space-between;
    div{
        width: 45%;    
        text-align: center;
        border: 1px solid;
        padding: 4px;
        //border-radius: 4px;
        margin-top: 15px;
        background-color: #f6f5f4;
        &:hover{ 
            cursor: pointer;
        }
    }
}

