
.tarjeta{
    margin: 10px 0 10px 0;
    box-shadow:0 0 0;
    width: 100%;
    font-size: 1.1em;
    justify-content: center;
    &:active {
        transform: translateY(2px);
    }
}
form{
    padding: 2% 0;
}

@media (min-width: 400px) {
    .containerModal {
        width: 400px;
    }
}

.botonesExtras{
    display: flex;
    justify-content: space-between;
    div{
        width: 45%;    
        text-align: center;
        border: 1px solid;
        padding: 4px;
        border-radius: 4px;
        margin-top: 15px;
        &:hover{ 
            cursor: pointer;
        }
    }
}

