<form *ngIf="accion=='editar' || accion=='agregar'">
    <label for="titulo">Titulo:</label>
    <input type="text" id="proTitulo" name="titulo" value="{{proyecto.titulo}}" placeholder="Titulo"><br>
    
    <label for="periodo">Periodo:</label>
    <input type="text" id="proPeriodo" name="periodo" value="{{proyecto.periodo}}" placeholder="Periodo"><br>
    

    <label for="descripcion">Descripcion:</label>
    <textarea id="proDescripcion" name="descripcion" cols="30" rows="5" value={{proyecto.descripcion}} placeholder="Descripción"></textarea><br>
        
    <label for="referencia">Proyecto referencia URL:</label>
    <input type="text" id="proReferencia" name="referencia" value="{{proyecto.url}}" placeholder="Proyecto referencia URL"><br> 

    <label for="img">Imagen URL:</label>
    <input type="text" id="proImagen" name="img" value="{{proyecto.fotos}}" placeholder="Imagen URL"><br>
</form> 

<div class="tarjeta">
    <div class="imgTarjeta">
        galeria de imagenes
    </div>
    <div class="conTarjeta">
        <div class="tituloSeccion">
            <p>{{proyecto.titulo}}</p>
            <app-edicion [tipo]="'proyectos'" [id]="proyecto.id" *ngIf="mostarIconos"></app-edicion>
        </div>
        <p>{{proyecto.periodo}}</p>
        <p>{{proyecto.descripcion}}</p>
        <a href="">link de la evidencia</a> 
    </div>
</div>