.hab{
    margin:8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.habilidad{
    display: block;
    min-height: 125px;
    width: 125px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#habilidadPorcent{
    position: absolute;
    color: var(--colorOpuesto);
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    fill: #555;
    ///z-index: 4;
    &:hover{ 
        .addSVG{ 
            fill: rgb(0, 0, 0);
            transform: scale(1.2);
            transition: 0.2s;
        }
        cursor: pointer;
    }
}

.habNombre{
    position: relative;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    ///z-index: 4;
}

.addSVG{
    //position: relative;
    width: 40px;
    height: 40px;
    path{
        fill: var(--colorOpuesto);
    }
}


#margenExtra{
    height: 37px;
}

svg{
    width: 125px;
    height: 125px;
    position: relative;
    ///z-index: 5;
}
.st1{
    stroke:none;
    stroke-miterlimit:10;
    fill:#bbb;
    path:nth-child(-n+1){
        fill:green;
    }
    
}
.st2{
    stroke:none;
    stroke-miterlimit:10;
    fill:#bbb;
    path:nth-child(-n+2){
        fill:green;
    }
    
}
.st3{
    stroke:none;
    stroke-miterlimit:10;
    fill:#bbb;
    path:nth-child(-n+3){
        fill:green;
    }
    
}
.st4{
    stroke:none;
    stroke-miterlimit:10;
    fill:#bbb;
    path:nth-child(-n+4){
        fill:green;
    }
    
}
.st5{
    stroke:none;
    stroke-miterlimit:10;
    fill:#bbb;
    path:nth-child(-n+5){
        fill:green;
    }
    
}
.st6{
    stroke:none;
    stroke-miterlimit:10;
    fill:#bbb;
    path:nth-child(-n+6){
        fill:green;
    }
    
}
.st7{
    stroke:none;
    stroke-miterlimit:10;
    fill:#bbb;
    path:nth-child(-n+7){
        fill:green;
    }
    
}
.st8{
    stroke:none;
    stroke-miterlimit:10;
    fill:#bbb;
    path:nth-child(-n+8){
                fill:green;
    }
    
}
.st9{
    stroke:none;
    stroke-miterlimit:10;
    fill:#bbb;
    path:nth-child(-n+9){
                fill:green;
    }
    
}
.st10{
    stroke:none;
    stroke-miterlimit:10;
    fill:#bbb;
    path:nth-child(-n+10){
                fill:green;
    }
    
}