<div class="containerModal">
    <div class="tituloModal">Crear Mi Porfolio</div>

    Para acceder a las funcionalidades de edicion debe tener un porfolio asociado

    <div class="alerta">
        Si ya posee un portfolio se reescribirán los datos
    </div>
    <div class="tarjeta" (click)="instanciar(1)">Crear copia del porfolio del autor</div> 
    
    <div class="tarjeta" (click)="instanciar(0)">Crear nuevo porfolio vacio</div>
    
    <div class="tarjeta" (click)="cerrarModal()">Cerrar</div>   

</div>