<header>Aca va el header</header>

<fieldset>
    <form>
        <label>
            Nombre: <input type="text" id="headerNombre" placeholder="Escriba el nombre">
            Apellido: <input type="text" id="headerApellido" placeholder="Escriba el apellido">
            Edad: <input type="text" id="headerEdad" placeholder="Escriba la edad">
        </label>
    </form>
</fieldset>


<button class="btn" (click)="headerTraer()">Traer</button>

<ng-container *ngIf="enviar_persona;else editar_persona">
    <button class="btn" (click)="headerEnviar()">Enviar</button>
</ng-container>
<ng-template #editar_persona>
    <button class="btn" (click)="headerEnviarPesona()">Editar</button>
</ng-template>


<ng-container *ngIf="buleano">
    <table>
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Edad</td>
            <td>Editar</td>
            <td>Eliminar</td>
        </tr>
        <tr *ngFor="let persona of personas">
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.edad}}</td>
            <td><button class="btn" (click)="headerEditar(persona.id)">Editar</button></td>
            <td><button class="btn" (click)="headerEliminar(persona.id)">Eliminar</button></td>
        </tr>
    </table>
</ng-container>
<div id="resultado"></div>