<form *ngIf="accion=='editar' || accion=='crear'">
    <label for="lugar">Lugar:</label>
    <input type="text" id="eduLugar" name="lugar" value="{{educacion.lugar}}" placeholder="Lugar"><br><br>
    
    <label for="periodo">Periodo:</label>
    <input type="text" id="eduPeriodo" name="periodo" value="{{educacion.periodo}}" placeholder="Periodo"><br><br>
    
    <label for="titulo">Titulo:</label>
    <input type="text" id="eduTitulo" name="titulo" value="{{educacion.titulo}}" placeholder="Titulo"><br><br>
    
    <label for="img">Imagen URL:</label>
    <input type="textarea" id="eduImagen" name="img" value="{{educacion.src}}" placeholder="Imagen URL"><br><br>
</form> 

<div class="tarjeta">
    <div class="imgTarjeta">
        <img [src]="educacion.src" alt="">
    </div>
    <div class="conTarjeta">
        <div class="tituloSeccion">
            <p><span>Lugar: </span> {{educacion.lugar}}</p> 
            <app-edicion [tipo]="'educaciones'" [id]="educacion.id" *ngIf="mostarIconos"></app-edicion>
        </div>
        <p>Periodo: {{educacion.periodo}}</p>
        {{educacion.titulo}}
    </div>
</div>