<div class="resumen">
    <div class="fotoPerfil">
        <div>
            <img [src]="resumen.foto" alt="">     
        </div>
    </div>
    <div class="tituloSeccion">
        <div class="nombre">
            <p><span>{{resumen.apellido}}</span> {{resumen.nombre}}</p>
            Full Stack Developer Jr
        </div>
        <app-edicion [tipo]="'resumen'" [eliminar]="false"  *ngIf="mostarIconos"></app-edicion>
    </div>
    <div class="datos">
        <div>
            Dirección: {{resumen.direccion}}
        </div>
        <div>
            Telefono: {{resumen.telefono}}
        </div>
        <div>
            email: {{resumen.mail}}
        </div>
        <div>
            Edad: {{edad}}
        </div>
        <div>
            Sobre mi: {{resumen.sobremi}}
        </div>
    </div>
</div>

