<div class="resumen">
    <div class="fotoPerfil">
        <img [src]="resumen.src" alt="">
    </div>
    <div class="nombre">
        <span>{{resumen.apellido}}</span> {{resumen.nombre}}
        <br>
        <span>Full Stack Developer Jr</span>
    </div>
    <div class="datos">
        <ul>
            <li>Dureccion: {{resumen.direccion}}</li>
        </ul>
        <ul>
            <li>Telefono: {{resumen.telefono}}</li>
        </ul>
        <ul>
            <li>email: {{resumen.mail}}</li>
        </ul>
        <ul>
            <li>Edad: {{resumen.edad}}</li>
        </ul>
    </div>
</div>

