<ng-container *ngIf="logueado; else noLog"><!--Si esta logueado-->
    <div class="usuarioEncabezado">
        <div class="perfilFoto">
            <a href="http://192.168.0.5:4200/miportfolio">
                <img src={{foto}} alt=""><!--img [src]="resumen.src" alt=""-->
            </a>
        </div>
        <nav>
            <div class="tarjeta contenedorMenu">
                <div *ngIf="miportfolio" (click)="activarEdicion()">
                    Activar edición
                </div>                            
                <div (click)="instancia()">
                    Crear Mi Porfolio
                </div>                            
                <div id="botonModo" (click)="togleModo()">
                    Modo oscuro
                </div>                              
                <div (click)="desloguear()">
                    Cerrar sesion
                </div>   
            </div>
            <div class="username">
                <div>
                    {{username}}
                </div>
                <svg version="1.1" class="arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
                    <path  d="M2.7,6.3l7.3,7.4l7.3-7.3"/>
                </svg>
            </div>
        </nav>
    </div>
    <!--div class="usuarioEncabezado">
        <svg version="1.1" class="arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
            <path  d="M2.7,6.3l7.3,7.4l7.3-7.3"/>
        </svg>
        <ul class="menu">
            <li>{{username}}
                <ul>
                    <li *ngIf="miportfolio">
                        <div class="btn" (click)="activarEdicion()">
                            activar edición
                        </div>                            
                    </li>
                    <li>
                        <div class="btn" (click)="instancia()">
                            Crear Mi Porfolio
                        </div>                            
                    </li>
                    <li>
                        <div id="botonModo"  class="btn" (click)="togleModo()">
                            Modo oscuro
                        </div>                              
                    </li>
                    <li>
                        <div class="btn" (click)="desloguear()">
                            Cerrar sesion
                        </div>                            
                    </li>
                </ul>  
            </li>
        </ul>

        <div class="perfilFoto">
            <a href="http://192.168.0.5:4200/miportfolio">
                <img src="assets/imagenes/profile_picture.png" alt=""><!--img [src]="resumen.src" alt=""->
            </a>
        </div>
    </div-->
</ng-container>




<ng-template #noLog><!--Si NO esta logueado-->
    <div class="usuarioEncabezado">
        <div class="tarjeta" (click)="sesion('acceder')">
            Acceder
        </div>
        <div class="tarjeta" (click)="sesion('registrar')">
            Registrar
        </div>  
    </div>
</ng-template>