<div class="seccion">
    <div class="tituloSeccion">
        <h1>Habilidades</h1>
    </div>
    
    <div class="habilidades">
        <ng-container *ngFor="let habilidad of habilidades">
            <app-habilidad [habilidad]="habilidad"  [mostarIconos]="true"></app-habilidad>
        </ng-container>
        <!--app-habilidad [habilidad]="{habilidad: 'Agregar Habilidad',valor: 0}"  [mostarIconos]="false"></app-habilidad-->
        <app-agregar [tipo]="'habilidades'"></app-agregar>
    </div>
</div>


