.trabajo{
    display: flex;
    background-color: orange;
}
.logoTrabajo{
    width: 100px;
    height: 100px;
    background-color: purple;

}
.datosTrabajo{
    background-color: rgb(39, 207, 95);
    width: 100%;
}