<form *ngIf="accion=='editar' || accion=='agregar'">
    <label for="lugar">Lugar:</label>
    <input type="text" id="expLugar" name="lugar" value={{experiencia.lugar}} placeholder="Lugar"><br>
    
    <label for="periodo">Periodo:</label>
    <input type="text" id="expPeriodo" name="periodo" value={{experiencia.periodo}} placeholder="Periodo"><br>
    
    <label for="titulo">Actividades:</label>
    <textarea name="titulo" id="expActividades" cols="30" rows="5" value={{experiencia.actividades}} placeholder="Actividades"></textarea><br>
    
    <label for="img">Imagen URL:</label>
    <input type="text" id="expImagen" name="img" value={{experiencia.src}} placeholder="Imagen URL"><br>
</form> 

<div class="tarjeta">
    <div class="imgTarjeta">
        <img [src]="experiencia.src" alt="">
    </div>
    <div class="conTarjeta">
        <div class="tituloSeccion">
            <p><span>Lugar: </span> {{experiencia.lugar}}</p> 
            <app-edicion [tipo]="'experiencias'" [id]="experiencia.id" *ngIf="mostarIconos"></app-edicion>
        </div>
        <p>Periodo: {{experiencia.periodo}}</p>
        {{experiencia.actividades}}
    </div>
</div>