<app-modal></app-modal>
<div id="contenedor">

  <!--app-sesion></app-sesion-->
  <router-outlet></router-outlet>

  
  <!--app-header></app-header-->
  <app-encabezado></app-encabezado>

  <ng-container *ngIf="listo">
    <app-resumen [resumen]="persona"></app-resumen>
    <div class="division"></div>
    <app-experiencias [experiencias]="persona.experiencias"></app-experiencias>
    <div class="division"></div>
    <app-educaciones [educaciones]="persona.educaciones"></app-educaciones>
    <div class="division"></div>
    <app-habilidades [habilidades]="persona.habilidades"></app-habilidades>
    <div class="division"></div>
    <app-proyectos  [proyectos]="persona.proyectos"></app-proyectos>
  </ng-container>
</div>


