<div class="contenedor">
  <!--app-header></app-header-->
  <app-encabezado></app-encabezado>

  <ng-container *ngIf="listo">
    <app-resumen [resumen]="persona"></app-resumen>
    <div class="division"></div>
    <app-experiencias [experiencias]="persona.experiencias"></app-experiencias>
    <div class="division"></div>
    <app-educacion [educaciones]="persona.educaciones"></app-educacion>
    <div class="division"></div>
    <app-habilidades [habilidades]="persona.habilidades"></app-habilidades>
    <div class="division"></div>
    <app-proyectos  [proyectos]="persona.proyectos"></app-proyectos>
  </ng-container>
</div>

<router-outlet></router-outlet>
