article{
    width: 769px;
    //min-height: 300px;
    margin: 0 auto;
    background-color: rgba(125, 128, 128, 0.1);  
    box-shadow:0 0 8px #000000;  
}

@media (max-width: 768px) {
    article{
        width: 100%;
    }
}

@media (max-width: 370px) {
    article{
        width: 370px;
    }
}
