#contenedor{
    width: 769px;
    margin: 0 auto;
    background-color: rgba(125, 128, 128, 0.1);  
    
    box-shadow:0 0 8px #000000;  
    overflow: hidden;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////Version movil//////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 768px) {
    #contenedor{
        width: 100%;
    }
}

@media (max-width: 370px) {
    #contenedor{
        width: 370px;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////Version de ecritorio con redimesionamiento////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 800px){}/*(max-width: 1249px) {*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////Version de ecritorio sin redimensionamiento///////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 1250px){}/*(max-width: 1249px) {*/

@media (prefers-color-scheme: dark) {
/* Dark theme styles go here */


}

@media (prefers-color-scheme: light) {
/* Light theme styles go here */


}