*{
	margin: 0;
	padding: 0;
}
.contenedor{
    width: 720px;
    margin: 0 auto;
    background-image: url(../assets/imagenes/fondob.png);
    background-repeat: repeat;
}
.division{
    background-color: rgba($color: #fff, $alpha: 1);
    height: 10px;
    width: 100%;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////Version movil//////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 799px) {}

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////Version de ecritorio con redimesionamiento////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 800px){}/*(max-width: 1249px) {*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////Version de ecritorio sin redimensionamiento///////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 1250px){}/*(max-width: 1249px) {*/

@media (prefers-color-scheme: dark) {
/* Dark theme styles go here */


}

@media (prefers-color-scheme: light) {
/* Light theme styles go here */


}