<div class="containerModal">
    <p *ngIf="accion=='eliminar'">¿Esta seguro que desea eliminar el siguiente contendio?</p>        

    <app-proyecto *ngIf="seccion=='proyectos'" [proyecto]="contenido"  [mostarIconos]="false"  [accion]="accion"></app-proyecto>
    <app-experiencia  *ngIf="seccion=='experiencias'" [experiencia]="contenido"  [mostarIconos]="false"  [accion]="accion"></app-experiencia>
    <app-educacion  *ngIf="seccion=='educaciones'" [educacion]="contenido"  [mostarIconos]="false"  [accion]="accion"></app-educacion>
    <app-resumen *ngIf="seccion=='resumen'" [resumen]="contenido" [mostarIconos]="false"  [accion]="accion"></app-resumen>
    <app-habilidad *ngIf="seccion=='habilidades'" [habilidad]="contenido"  [mostarIconos]="false"  [accion]="accion"></app-habilidad>
    <app-banner *ngIf="seccion=='banner'" [banner]="contenido"  [mostarIconos]="false"  [accion]="accion"></app-banner>
    <app-redes *ngIf="seccion=='redes'" [redes]="contenido" [accion]="accion"></app-redes>

    <div class="modalMensaje">{{modalMensaje}}</div>

    <div class="centrar"  *ngIf="accion=='eliminar'">
        <div class="tarjeta" (click)="eliminar()">
            Eliminar
        </div>
        <div class="tarjeta" (click)="cerrar()">
            Cerrar
        </div>
    </div>
    <div class="centrar"  *ngIf="accion=='editar'">
        <div class="tarjeta" (click)="editar()">
            Guardar cambios
        </div>
        <div class="tarjeta" (click)="cerrar()">
            Cerrar
        </div>
    </div>
    <div class="centrar"  *ngIf="accion=='agregar'">
        <div class="tarjeta" (click)="agregar()">
            Agregar
        </div>
        <div class="tarjeta" (click)="cerrar()">
            Cerrar
        </div>
    </div>
</div>