.modalContenido{
    padding: 5%;
    background-color: aliceblue;
    border: solid 1 black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    font-size: 1.2em;
    color: rgb(131, 15, 15);
    margin: 0.5em;
}