<div class="modalContenido">

    <p *ngIf="accion=='eliminar'">¿Esta seguro que desea eliminar el siguiente contendio?</p>        

    <app-proyecto *ngIf="tipo=='proyectos'" [proyecto]="contenido"  [mostarIconos]="false"  [accion]="accion"></app-proyecto>
    <app-experiencia  *ngIf="tipo=='experiencias'" [experiencia]="contenido"  [mostarIconos]="false"  [accion]="accion"></app-experiencia>
    <app-educacion  *ngIf="tipo=='educaciones'" [educacion]="contenido"  [mostarIconos]="false"  [accion]="accion"></app-educacion>
    <app-habilidad *ngIf="tipo=='habilidades'" [habilidad]="contenido"  [mostarIconos]="false"  [accion]="accion"></app-habilidad>

    <div>{{modalMensaje}}</div>

    <div class="centrar"  *ngIf="accion=='eliminar'">
        <div class="btn" (click)="eliminar()">
            Eliminar
        </div>
        <div class="btn" (click)="cerrar()">
            Cancelar
        </div>
    </div>
    <div class="centrar"  *ngIf="accion=='editar'">
        <div class="btn" (click)="guardar()">
            Guardar cambios
        </div>
        <div class="btn" (click)="cerrar()">
            Cancelar
        </div>
    </div>
    <div class="centrar"  *ngIf="accion=='crear'">
        <div class="btn" (click)="crear()">
            Crear
        </div>
        <div class="btn" (click)="cerrar()">
            Cancelar
        </div>
    </div>
</div>