.tarjeta{
    margin: 5px;
    padding: 5px;
    height: 20px;
    justify-content: center;
    &:hover{
        cursor: pointer;
    }
}

p{
    font-size: 1.2em;
    color: rgb(131, 15, 15);
    margin: 0.5em;
}
.modalMensaje{
    padding-top: 10px;
}
.centrar{
    position: sticky;
}
.containerModal{
    width: 769px;
    padding: 25px;
    box-sizing: border-box;
    overflow-y: auto;
}

@media (max-width: 859px) {
    .containerModal{
        width: 90vw;
    }
}

@media (max-width: 500px) {
    .containerModal{
        width: 100vw;
        padding: 10px;
    }
}