<ng-container  *ngIf="activo">
    <ng-container *ngIf="seccion=='habilidades' else tarjetas">
        <div (click)="modal(seccion, 0, 'agregar')">
            <app-habilidad [habilidad]="{'habilidad': 'Agregar Habilidad','valor': 0}"  [mostarIconos]="false"></app-habilidad>
        </div>
    </ng-container>
    <ng-template #tarjetas>
        <div class="tarjeta" (click)="modal(seccion, 0, 'agregar')" >
            <div class="imgTarjeta">
                <img src="assets/svg/mas.svg" alt="">
            </div>
            <div class="conTarjeta">
                <div class="tituloTarjeta">
                   <p>Agregar {{singular[seccion]}}</p>
                </div>
                <div class="tituloTarjeta">
                 </div>
                 <div class="tituloTarjeta">
                 </div>
            </div>
        </div> 
    </ng-template>
</ng-container>




