<form *ngIf="accion=='editar'">
    <label for="banner">Banner:</label>
    <input type="text" id="banner" name="banner" value={{banner}} placeholder="Banner" [(ngModel)]="modalS.personaModal.banner">
</form> 

<div class="banner" *ngIf="banner || activo"><!-- *ngIf="banner || accion=='editar'|| accion=='agregar'"-->
    <div class="edicionContainer">
        <app-edicion [tipo]="'banner'" *ngIf="mostarIconos" [eliminar]="false"></app-edicion>
    </div>
    <img [src]="(accion=='editar')?modalS.personaModal.banner || 'assets/svg/banner.svg':banner || 'assets/svg/banner.svg'" alt="">
</div>