/* You can add global styles to this file, and also import other style files */
*{
	margin: 0;
	padding: 0;
    font-family: Verdana, Arial, 'Times New Roman' ;
}
a{
    color: inherit;
}

/////////////////Layout - secciones/////////////////
.seccion{
    padding: 3%;
    .tarjeta{
        margin-top: 25px;
    }
    &:last-child{
        margin-top: 0;
    }
}
.tituloSeccion{
    font-size: 1.4em;
    font-weight: bold; 
}

.tituloTarjeta{
    display: flex;
    justify-content: space-between;

}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
/////////////////Layout - secciones/////////////////

/////////////////Componentes - tarjetas/////////////////
.tarjeta{
    //margin: 25px 0px 25px 0px;
    padding: 10px;
    display: flex;
    position: relative;
    box-shadow:0 0 4px #292929; 
    overflow: hidden;
    background-color: var(--fondoTarjeta);
    z-index: 1; 
    &::after {
        content: "";
        //background-color: #F22;
        background: url(./assets/imagenes/fondob.png);
        opacity: var(--opacidadTarjeta);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
}
.imgTarjeta{
    width: 100px;
    height: 100px;
    background-color: white;//var(--fondoSolido);
    flex-shrink: 0;
    img{
        width: 100px;
        height: 100px;
    }
    path{
        fill: var(--colorOpuesto);
    }
}
.conTarjeta{
    width: 100%;
    margin-left: 13px;
}
.tarjeta{
    p{
        margin: 0;
        line-height: 1.4em;
        &:first-child {
            font-size: 1.2em;
            font-weight: bold;
        }
        &:nth-child(2) {
            margin-bottom: 0.5em;
        }
    }
}
/////////////////Componentes - tarjetas/////////////////


/////////////////Body - Modos/////////////////
.light{
    --fondoBody:#f4f4f8;
    background-color: var(--fondoBody);
    --fondo: aliceblue;
    --colorOpuesto: #332d2d;
    transition: 0.3s;
    color: black;
    --opacidadTarjeta:0.3;
    --RrdesOpacidad:0.35;
    --usuarioDesplegableHover: rgba(0, 0, 0, 0.6);
    --fondoTarjeta: rgb(255, 255, 255);
    --fondoSolido: white;
    --opacidadTextoModo:0.2;
}
.dark{
    --fondoBody: #1e1d20;
    background-color: var(--fondoBody);
    --fondo: #332d2d;
    --colorOpuesto: aliceblue;
    transition: 0.3s;
    color: white;
    --opacidadTarjeta:0.12;
    --RrdesOpacidad:1;
    --usuarioDesplegableHover: rgba(255, 255, 255, 0.8);
    //--fondoTarjeta: rgba(255, 255, 255, 0.5);
    --fondoSolido: black;
    --opacidadTextoModo:-0.2;
}
/////////////////Body - Modos/////////////////




////////////////Modales////////////////
.containerModal {
    padding: 35px 30px 30px 35px;
    font-weight: 400;
    overflow: hidden;
    height: auto;
    box-sizing: border-box;
    background: var(--fondoBody);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    //position: relative;
    label {
        color: var(--colorOpuesto);
        font-size: 15px;
        line-height:25px;
        /*span{
            color: #F22;
        }*/
    }
    input,textarea{
        background: var(--fondoBody);
        color: var(--colorOpuesto);
        //font-size: 1.1em;
        line-height: 1;
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 8px;
        outline: none;
        border: 1px solid #888;
        font-family: inherit;
        font-size: inherit;
    }
    /*input[type=checkbox]{

    }*/
    input:focus {
        border: 1px solid #f58220;
        box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    }

    form{
        padding: 2% 6%;
    }

}
@media (max-width: 500px) {
    .containerModal {
        form{
            padding: 2% 0;
        }
    }
}

.tituloModal{
    font-size: 30px;
    color: #666;
    text-align: center;
    font-weight: 300;
    border: 2px dashed #faa51a;
    margin-bottom: 15px;
    padding: 15px;
    line-height:25px;
}



/*= containerModalSesionS
--------------------------------------------------------*/

#welcome {
    width: 500px;
    padding: 30px;
    background: #fff;
    margin: 160px auto 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

////////////////Modales////////////////




////////////////Layout////////////////
.division { 
    margin-top: 20px;
    overflow:hidden; height:20px; 
    &:after { 
        content:''; 
        width:100%; 
        height:15px;  
        display:block;
        margin:-15px auto 0;
        border-radius:120px / 12px;
        box-shadow:0 0 8px #000000;
    }
}


.habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
h1{
    margin-left: 10px;
}
.hab{
    margin:8px;
}

////////////////Layout////////////////

////////////////Miscelaneos////////////////
.alerta{
    color: #F22;
    margin-bottom: 10px;
}
.edicionContainer{
    position: absolute;
    right: 10px;
    top: 10px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
////////////////Miscelaneos////////////////