/* You can add global styles to this file, and also import other style files */
p{
    width: 200px;
    height: 80px;
    background-color: rgb(141, 141, 241);

}

.btn{
    background-color: orange;
    text-align: center;
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;
}