<form *ngIf="accion=='editar' || accion=='agregar'">
    <label for="lugar">Lugar:</label>
    <input type="text" id="eduLugar" name="lugar" value="{{educacion.lugar}}" placeholder="Lugar"  [(ngModel)]="modalS.personaModal.educaciones[0].lugar"><br>
    
    <label for="periodo">Periodo:</label>
    <input type="text" id="eduPeriodo" name="periodo" value="{{educacion.periodo}}" placeholder="Periodo"  [(ngModel)]="modalS.personaModal.educaciones[0].periodo"><br>
    
    <label for="titulo">Titulo:</label>
    <input type="text" id="eduTitulo" name="titulo" value="{{educacion.titulo}}" placeholder="Titulo"  [(ngModel)]="modalS.personaModal.educaciones[0].titulo"><br>
    
    <label for="img">Imagen URL:</label>
    <input type="textarea" id="eduImagen" name="img" value="{{educacion.imagen}}" placeholder="Imagen URL"  [(ngModel)]="modalS.personaModal.educaciones[0].imagen"><br>
</form> 

<div class="tarjeta">
    <div class="imgTarjeta">
        <img [src]=" 
        (accion=='editar'||accion=='agregar') ? 
            modalS.filtrarUrl(modalS.personaModal.educaciones[0].imagen) || 'assets/svg/educacion.svg'
            :
            (educacion.imagen || 'assets/svg/educacion.svg')" alt="">
    </div>
    <div class="conTarjeta">
        <div class="tituloTarjeta">
            <p><span></span> {{(accion=='editar' || accion=='agregar')?modalS.personaModal.educaciones[0].lugar:educacion.lugar}}</p> 

        </div>
        <p>Periodo: {{(accion=='editar' || accion=='agregar')?modalS.personaModal.educaciones[0].periodo:educacion.periodo}}</p>
        {{(accion=='editar' || accion=='agregar')?modalS.personaModal.educaciones[0].titulo:educacion.titulo}}
    </div>            
    <div class="edicionContainer">
        <app-edicion [seccion]="'educaciones'" [id]="educacion.id" *ngIf="mostarIconos"></app-edicion>
    </div>
</div>